<launch>
    <node pkg="offboard_pkg" name="offboard_node" type="offboard_node" output="screen" launch-prefix="gnome-terminal --">

        <param name="offboard_node/waypoint_num" value="2" type="int"/>

        <param name="offboard_node/waypoint0_x" value="6.0" type="double"/>
        <param name="offboard_node/waypoint0_y" value="0.0" type="double"/>
        <param name="offboard_node/waypoint0_z" value="1.0" type="double"/>

        <param name="offboard_node/waypoint1_x" value="15.0" type="double"/>
        <param name="offboard_node/waypoint1_y" value="0.0" type="double"/>
        <param name="offboard_node/waypoint1_z" value="1.0" type="double"/>

        <param name="offboard_node/waypoint2_x" value="0.0" type="double"/>
        <param name="offboard_node/waypoint2_y" value="0.0" type="double"/>
        <param name="offboard_node/waypoint2_z" value="1.0" type="double"/>

        <param name="offboard_node/waypoint3_x" value="0" type="double"/>
        <param name="offboard_node/waypoint3_y" value="0" type="double"/>
        <param name="offboard_node/waypoint3_z" value="1.0" type="double"/>
	</node>
</launch>
